<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.nauman.myapplication">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".CatSubject"
            android:label="@string/title_activity_cat_subject"
            android:theme="@style/AppTheme.NoActionBar"
            android:parentActivityName="com.example.nauman.myapplication.MainActivity"
            >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.nauman.myapplication.MainActivity" />

        </activity>
        <activity
            android:name=".Cat_subject_test"
            android:label="@string/title_activity_cat_subject_test"
            android:parentActivityName="com.example.nauman.myapplication.CatSubject"
            android:theme="@style/AppTheme.NoActionBar" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.nauman.myapplication.CatSubject" />

        </activity>
        <activity
            android:name=".Mcqs"

            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_mcqs"
            android:parentActivityName="com.example.nauman.myapplication.Cat_subject_test"
            android:theme="@style/FullscreenTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.nauman.myapplication.Cat_subject_test" />
        </activity>
    </application>

</manifest>